html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.out-container {
  min-height: 100vh;  
  position: relative;
  overflow: auto;
}

nav {
  font-size: 2rem;
  font-weight: 900;
  color: white;
  background-color: tomato;
  padding: 0.5rem 0;
}

.main {
  min-height: 100vh;
  text-align: center;
  padding: 2rem 1.5rem;
  width: 40rem;
  box-shadow: 0 14px 28px rgba(245, 147, 67, 0.25), 0 10px 10px rgba(123, 176, 236, 0.25);
}

.input {
  margin-top: 2rem;
  width: 80%;
  margin: auto;

}
.submit {
  background-color: rgb(228, 117, 97);
  margin-left: 1rem;
  color: #fff;
}
.submit:hover {
  color: #fff;
  background-color: #cc4587;
}

.to-do-items {
  text-align: left;
}

footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #ff3717;
  margin-top: auto;
}
